/* .jobs-container {
    display: "flex";
    justify-content: "center";
    align-items: "center";
    min-height: "80vh";
    padding: "20px";
}

.jobs-line {
    border: "1px solid #ddd";
    border-radius: "8px";
    padding: "20px";
    margin-bottom: "20px";
    box-shadow: "0 2px 8px rgba(0,0,0,0.1)";
    background-color: "#fff";
} */
.button-container {
    background-color: white;
    margin-top: 30px;
    padding: 8px;
    border-radius: 20px;
    border-color: transparent;
    margin-right: 10px;
    margin-bottom: 10px;
    font-family: Inter, sans-serif;
    color: #475569;
    
    
}

.button-container:hover {
    background-color: #2563eb;
    color: white;
}